<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>学生信息管理中心</title>
</head>
<body>
<div style="text-align:center;padding-bottom: 10px;">
    <h2>学生信息管理中心(前台)</h2>
</div>
<table width="600" border="1" align="center" rules="all" cellpadding="5">
    <tr bgcolor='#ccc'>
        <th>编号</th>
        <th>姓名</th>
        <th>操作选项</th>
    </tr>

    {{foreach from=$arr item=user}}

    <tr align="center">
        <td>{{$user.id}}</td>
        <td>{{$user.name}}</td>
        <td>
            <a href="javascript:void(0)">修改</a> |
            <a href="javascript:void(0)">删除</a>
        </td>
    </tr>

    {{/foreach}}

</table>
</body>
</html>